@media (max-width: 1432px) {
    h1 {
        font-size: 20pt;
    }
    h2 {
        font-size: 13px;
    }
}

@media (max-width: 1219px) {
    h1 {
        font-size: 19pt;
    }

}



@media (max-width: 1165px) {
    h1 {
        line-height: 2rem;
        font-size: 15pt;
    }
    p {
        color: #3E3467;
        font-size: 9pt;
    }
    h2 {
        font-size: 12px;
    }
    img#voltaresq {
        width: 6%;
    }
}

@media (max-width: 980px) {
#logo {
    width: 5%;
    margin-top: -10px;
}
h2 {
    font-size: 12px;
}
#logo {
    width: 3%;
    margin-top: -10px;
    display: none;
}
}

@media (max-width: 746px) {
p {
    color: #3E3467;
    line-height: 1.5rem;
}
}

@media (max-width: 600px) {
h1 {
    line-height: 2rem;
    font-size: 14pt;
}
img#voltaresq {
    width: 15%;
}
}

